*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html { width: 100%; height: 100%; }

body{
    background-color: var(--main-color-background-app);
    width: 100%;
    height: 100%;
    font-family: "Berlin", Arial, sans-serif;
    color: var(--color-font-main);
}

span{
    font-size: 18px;
}

h1{
    font-size: 24px;
}

input{
    border-radius: var(--input-border-radius);
    padding: 12px;
    font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }  

button{
    padding: 10px 30px;
    border-radius: var(--input-border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

button:hover{
    background-color: var(--color-font-main);
    color: var(--color-font-light);
}